# Homework

### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`.

In [1]:
import numpy as np
import pandas as pd

temp = pd.read_csv("Temp.csv")
print(temp)
type(temp)

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68

pandas.core.frame.DataFrame

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [2]:
new = pd.DataFrame({'City': 'New Haven', 'State': 'Connecticut', 'Temperature': 58}, index = [0])
type(new)
new
temp = pd.concat([temp, new])
temp

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
0   New Haven  Connecticut           58

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [15]:
temp.loc[temp['State'] == "New York",:].State = "NY"

C:\Users\Gardenia\Anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [16]:
#### Your code here
temp.State[temp.State == "New York"] = "NY"
temp.State[temp.State == "Connecticut"] = "CT"
temp.State[temp.State == "New Jersey"] = "NJ"

temp #warnings

C:\Users\Gardenia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Gardenia\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gardenia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

         City State  Temperature
0         NYC    NY           67
1      Albany    NY           49
2     Buffalo    NY           38
3    Hartford    CT           63
4  Bridgeport    CT           58
5      Treton    NJ           72
6      Newark    NJ           68
0   New Haven    CT           58

- Select the rows in New York.

In [17]:
temp.loc[temp['State'] == "NY",:]

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [18]:
temp.loc[temp['State'] == "NY",:].mean()

Temperature    51.333333
dtype: float64

- Find the mean and the standard deviation of the temperature of each state.

In [27]:
temp.groupby('State').agg(['mean', 'std'])

      Temperature
             mean        std
State
CT      59.666667   2.886751
NJ      70.000000   2.828427
NY      51.333333  14.640128

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [69]:
State = pd.DataFrame({'Capital' : ['Hartford', 'Trenton', 'Albany'], 'State': ['CT', 'NJ', 'NY'], })
State = State.reindex_axis(sorted(State.columns, reverse = True), axis = 1)
#dir(State.columns.sort_values())
State

  State   Capital
0    CT  Hartford
1    NJ   Trenton
2    NY    Albany

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [86]:
#temp.City.map(lambda x: x in State.Capital)

Capital = pd.DataFrame((temp.City.isin(State.Capital)))
Capital

temp2 = pd.concat([temp, Capital], axis = 1)
temp2.columns = ['City','State','Temperature','Capital']
temp2

         City State  Temperature  Capital
0         NYC    NY           67    False
1      Albany    NY           49     True
2     Buffalo    NY           38    False
3    Hartford    CT           63     True
4  Bridgeport    CT           58    False
5      Treton    NJ           72    False
6      Newark    NJ           68    False
0   New Haven    CT           58    False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [209]:
#### Your code here
# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190, encoding='ISO-8859-1')
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']
country = pd.read_csv('Country.csv', encoding='ISO-8859-1')

In [210]:
# (b)
#print(country.columns)
#print(gdp.columns)
sum(country.CountryCode.isin(gdp.CountryCode)) #=189
gdp = gdp.merge(country)
gdp.columns

Index(['CountryCode', 'Rank', 'CountryName', 'GDP', 'Long Name',
       'Income Group', 'Region', 'Lending category', 'Other groups',
       'Currency Unit', 'Latest population census', 'Latest household survey',
       'Special Notes', 'National accounts base year',
       'National accounts reference year', 'System of National Accounts',
       'SNA price valuation', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [211]:
# (c)
gdp.GDP = gdp.GDP.str.replace(',','').astype(float).sort_values(ascending = False)

gdp

,CountryCode,Rank,CountryName,GDP,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,USA,1,United States,16244600.0,United States of America,High income: OECD,North America,NaN,NaN,U.S. dollar,...,LFS 2000,Yes,1997/2002,2004.0,2008.0,2000.0,US,US,United States,United States
1,CHN,2,China,8227103.0,People's Republic of China,Lower middle income,East Asia & Pacific,IBRD,NaN,Chinese yuan,...,"IHS, 2005",NaN,1997,2005.0,2008.0,2000.0,CN,CN,China,China
2,JPN,3,Japan,5959718.0,Japan,High income: OECD,East Asia & Pacific,NaN,NaN,Japanese yen,...,"IS, 1993",Yes,2000,2004.0,2008.0,2000.0,JP,JP,Japan,Japan
3,DEU,4,Germany,3428131.0,Federal Republic of Germany,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"IHS, 2000",Yes,1999-2000,2004.0,2008.0,2000.0,DE,DE,Germany,Germany
4,FRA,5,France,2612878.0,French Republic,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"ES/BS, 1994/95",Yes,1999-2000,2004.0,2008.0,2000.0,FR,FR,France,France
5,GBR,6,United Kingdom,2471784.0,United Kingdom of Great Britain and Northern I...,High income: OECD,Europe & Central Asia,NaN,NaN,Pound sterling,...,"IS, 1999",Yes,1999-2000 (conducted annually),2004.0,2008.0,2000.0,GB,GB,United Kingdom,United Kingdom
6,BRA,7,Brazil,2252664.0,Federative Republic of Brazil,Upper middle income,Latin America & Caribbean,IBRD,NaN,Brazilian real,...,"LFS, 2007",NaN,1996,2004.0,2008.0,2000.0,BR,BR,Brazil,Brazil
7,RUS,8,Russian Federation,2014775.0,Russian Federation,Upper middle income,Europe & Central Asia,IBRD,NaN,Russian ruble,...,"IHS, 2007",Yes,1994-95,2005.0,2008.0,2000.0,RU,RU,Russian Federation,Russia
8,ITA,9,Italy,2014670.0,Italian Republic,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"ES/BS, 2000",Yes,2000,2004.0,2008.0,2000.0,IT,IT,Italy,Italy
9,IND,10,India,1841710.0,Republic of India,Lower middle income,South Asia,Blend,NaN,Indian rupee,...,"IHS, 2004/05",NaN,1995-1996/2000-2001,2003.0,2008.0,2000.0,IN,IN,India,India
10,CAN,11,Canada,1821424.0,Canada,High income: OECD,North America,NaN,NaN,Canadian dollar,...,"LFS, 2000",Yes,1996/2001,2001.0,2008.0,2000.0,CA,CA,Canada,Canada
11,AUS,12,Australia,1532408.0,Commonwealth of Australia,High income: OECD,East Asia & Pacific,NaN,NaN,Australian dollar,...,"ES/BS, 1994",Yes,2001,2004.0,2008.0,2000.0,AU,AU,Australia,Australia
12,ESP,13,Spain,1322965.0,Kingdom of Spain,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"IHS, 2000",Yes,1999,2004.0,2008.0,2000.0,ES,ES,Spain,Spain
13,MEX,14,Mexico,1178126.0,United Mexican States,Upper middle income,Latin America & Caribbean,IBRD,NaN,Mexican peso,...,"LFS, 2008",NaN,1991,1999.0,2008.0,2000.0,MX,MX,Mexico,Mexico
14,KOR,15,"Korea, Rep.",1129598.0,Republic of Korea,High income: OECD,East Asia & Pacific,IBRD,NaN,Korean won,...,"ES/BS, 1998",Yes,2000,2005.0,2008.0,2000.0,KR,KR,"Korea, Rep.",Korea
15,IDN,16,Indonesia,878043.0,Republic of Indonesia,Lower middle income,East Asia & Pacific,IBRD,NaN,Indonesian rupiah,...,"IHS, 2007",NaN,2003,2004.0,2008.0,2000.0,ID,ID,Indonesia,Indonesia
16,TUR,17,Turkey,789257.0,Republic of Turkey,Upper middle income,Europe & Central Asia,IBRD,NaN,New Turkish lira,...,"LFS, 2006",NaN,2001,2000.0,2008.0,2003.0,TR,TR,Turkey,Turkey
17,NLD,18,Netherlands,770555.0,Kingdom of the Netherlands,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"IHS, 1999",Yes,1999-2000 (conducted annually),2004.0,2008.0,NaN,NL,NL,Netherlands,Netherlands
18,SAU,19,Saudi Arabia,711050.0,Kingdom of Saudi Arabia,High income: nonOECD,Middle East & North Africa,NaN,NaN,Saudi Arabian riyal,...,NaN,NaN,1999,2005.0,2007.0,2006.0,SA,SA,Saudi Arabia,Saudi Arabia
19,CHE,20,Switzerland,631173.0,Switzerland,High income: OECD,Europe & Central Asia,NaN,NaN,Swiss franc,...,"ES/BS, 2000",Yes,2000,NaN,2008.0,2000.0,CH,CH,Switzerland,Switzerland
20,SWE,21,Sweden,523806.0,Kingdom of Sweden,High income: OECD,Europe & Central Asia,NaN,NaN,Swedish krona,...,"IS, 2000",Yes,1999-2000,2004.0,2008.0,2000.0,SE,SE,Sweden,Sweden
21,IRN,22,"Iran, Islamic Rep.",514060.0,Islamic Republic of Iran,Upper middle income,Middle East & North Africa,IBRD,NaN,Iranian rial,...,"ES/BS, 2005",Yes,2003,2004.0,2006.0,2004.0,IR,IR,"Iran, Islamic Rep.",Iran
22,NOR,23,Norway,499667.0,Kingdom of Norway,High income: OECD,Europe & Central Asia,NaN,NaN,Norwegian krone,...,"IS, 2000",Yes,1999,2003.0,2008.0,2000.0,NO,NO,Norway,Norway
23,POL,24,Poland,489795.0,Republic of Poland,High income: OECD,Europe & Central Asia,IBRD,NaN,Polish zloty,...,"ES/BS, 2005",Yes,1996/2002,2004.0,2008.0,2000.0,PL,PL,Poland,Poland
24,BEL,25,Belgium,483262.0,Kingdom of Belgium,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,"IHS, 2000",Yes,1999-2000 (conducted annually),2004.0,2008.0,NaN,BE,BE,Belgium,Belgium
25,ARG,26,Argentina,475502.0,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,...,"IHS, 2006",Yes,2002,2001.0,2008.0,2000.0,AR,AR,Argentina,Argentina
26,AUT,27,Austria,394708.0,Republic of Austria,High income: OECD,Europe & Central Asia,NaN,Euro area,Euro,...,IS 2000,Yes,1999-2000,2004.0,2008.0,2000.0,AT,AT,Austria,Austria
27,ZAF,28,South Africa,384313.0,Republic of South Africa,Upper middle income,Sub-Saharan Africa,IBRD,NaN,South African rand,...,"ES/BS, 2000",NaN,2000,2005.0,2008.0,2000.0,ZA,ZA,South Africa,South Africa
28,VEN,29,"Venezuela, RB",381286.0,República Bolivariana de Venezuela,Upper middle income,Latin America & Caribbean,IBRD,NaN,Venezuelan bolivar fuerte,...,"IHS, 2003",Yes,1997,NaN,2008.0,NaN,VE,VE,"Venezuela, RB",Venezuela
29,COL,30,Colombia,369606.0,Republic of Colombia,Upper middle income,Latin America & Caribbean,IBRD,NaN,Colombian peso,...,"IHS, 2006",NaN,2001,2004.0,2008.0,2000.0,CO,CO,Colombia,Colombia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,ABW,161,Aruba,2584.0,Aruba,High income: nonOECD,Latin America & Caribbean,NaN,NaN,Aruban florin,...,NaN,NaN,NaN,NaN,2008.0,NaN,AW,AW,Aruba,Aruba
160,BDI,162,Burundi,2472.0,Republic of Burundi,Low income,Sub-Saharan Africa,IDA,HIPC,Burundi franc,...,"CWIQ, 2006",NaN,NaN,NaN,2008.0,2000.0,BI,BI,Burundi,Burundi
161,LSO,163,Lesotho,2448.0,Kingdom of Lesotho,Lower middle income,Sub-Saharan Africa,IDA,NaN,Lesotho loti,...,"ES/BS, 2002-03",NaN,1999-2000,NaN,2004.0,2000.0,LS,LS,Lesotho,Lesotho
162,MDV,164,Maldives,2222.0,Republic of Maldives,Lower middle income,South Asia,IDA,NaN,Maldivian rufiyaa,...,NaN,Yes,NaN,NaN,2008.0,NaN,MV,MV,Maldives,Maldives
163,CAF,165,Central African Republic,2184.0,Central African Republic,Low income,Sub-Saharan Africa,IDA,HIPC,CFA franc,...,"PS, 2003",NaN,1985,NaN,2005.0,2000.0,CF,CF,Central African Republic,Central African Republic
164,CPV,166,Cape Verde,1827.0,Republic of Cape Verde,Lower middle income,Sub-Saharan Africa,Blend,NaN,Cape Verde escudo,...,"ES/BS, 2001",Yes,2004,NaN,2008.0,NaN,CV,CV,Cape Verde,Cape Verde
165,BTN,167,Bhutan,1780.0,Kingdom of Bhutan,Lower middle income,South Asia,IDA,NaN,Bhutanese ngultrum,...,"IHS, 2003",NaN,2000,NaN,2008.0,2000.0,BT,BT,Bhutan,Bhutan
166,LBR,168,Liberia,1734.0,Republic of Liberia,Low income,Sub-Saharan Africa,IDA,HIPC,Liberian dollar,...,CWIQ 2007,NaN,NaN,NaN,1985.0,2000.0,LR,LR,Liberia,Liberia
167,BLZ,169,Belize,1493.0,Belize,Lower middle income,Latin America & Caribbean,IBRD,NaN,Belize dollar,...,ES/BS 1995,NaN,NaN,NaN,2008.0,2000.0,BZ,BZ,Belize,Belize
168,TMP,170,Timor-Leste,1293.0,Democratic Republic of Timor-Leste,Lower middle income,East Asia & Pacific,IDA,NaN,U.S. dollar,...,"LSMS, 2007",NaN,NaN,NaN,2005.0,NaN,TL,TP,Timor-Leste,Timor-Leste
169,LCA,171,St. Lucia,1239.0,St. Lucia,Upper middle income,Latin America & Caribbean,Blend,NaN,East Caribbean dollar,...,"IHS, 1995",Yes,NaN,NaN,2008.0,NaN,LC,LC,St. Lucia,St. Lucia
170,ATG,172,Antigua and Barbuda,1134.0,Antigua and Barbuda,Upper middle income,Latin America & Caribbean,IBRD,NaN,East Caribbean dollar,...,NaN,Yes,NaN,NaN,2007.0,1990.0,AG,AG,Antigua and Barbuda,Antigua and Barbuda
171,SYC,173,Seychelles,1129.0,Republic of Seychelles,Upper middle income,Sub-Saharan Africa,IBRD,NaN,Seychelles rupee,...,NaN,Yes,1998,NaN,2008.0,2003.0,SC,SC,Seychelles,Seychelles
172,SLB,174,Solomon Islands,1008.0,Solomon Islands,Low income,East Asia & Pacific,IDA,NaN,Solomon Islands dollar,...,NaN,NaN,NaN,NaN,2007.0,NaN,SB,SB,Solomon Islands,Solomon Islands
173,GMB,175,"Gambia, The",917.0,Republic of The Gambia,Low income,Sub-Saharan Africa,IDA,HIPC,Gambian dalasi,...,"IHS, 2003",NaN,2001-2002,NaN,2008.0,2000.0,GM,GM,"Gambia, The",The Gambia
174,GNB,176,Guinea-Bissau,822.0,Republic of Guinea-Bissau,Low income,Sub-Saharan Africa,IDA,HIPC,CFA franc,...,"CWIQ, 2002",NaN,1988,NaN,2005.0,2000.0,GW,GW,Guinea-Bissau,Guinea-Bissau
175,VUT,177,Vanuatu,787.0,Republic of Vanuatu,Lower middle income,East Asia & Pacific,IDA,NaN,Vanuatu vatu,...,NaN,NaN,NaN,NaN,2007.0,NaN,VU,VU,Vanuatu,Vanuatu
176,GRD,178,Grenada,767.0,Grenada,Upper middle income,Latin America & Caribbean,Blend,NaN,East Caribbean dollar,...,NaN,NaN,NaN,NaN,2008.0,NaN,GD,GD,Grenada,Grenada
177,KNA,178,St. Kitts and Nevis,767.0,St. Kitts and Nevis,Upper middle income,Latin America & Caribbean,IBRD,NaN,East Caribbean dollar,...,NaN,NaN,NaN,NaN,2007.0,NaN,KN,KN,St. Kitts and Nevis,St. Kitts and Nevis
178,VCT,180,St. Vincent and the Grenadines,713.0,St. Vincent and the Grenadines,Upper middle income,Latin America & Caribbean,Blend,NaN,East Caribbean dollar,...,NaN,Yes,NaN,NaN,2008.0,NaN,VC,VC,St. Vincent and the Grenadines,St. Vincent and the Grenadines
179,WSM,181,Samoa,684.0,Samoa,Lower middle income,East Asia & Pacific,IDA,NaN,Samoan tala,...,NaN,NaN,1999,NaN,2008.0,NaN,WS,WS,Samoa,Samoa
180,COM,182,Comoros,596.0,Union of the Comoros,Low income,Sub-Saharan Africa,IDA,HIPC,Comorian franc,...,"IHS, 2004",NaN,NaN,NaN,2007.0,NaN,KM,KM,Comoros,Comoros
181,DMA,183,Dominica,480.0,Commonwealth of Dominica,Upper middle income,Latin America & Caribbean,Blend,NaN,East Caribbean dollar,...,NaN,Yes,NaN,NaN,2008.0,NaN,DM,DM,Dominica,Dominica
182,TON,184,Tonga,472.0,Kingdom of Tonga,Lower middle income,East Asia & Pacific,IDA,NaN,Tongan pa'anga,...,NaN,Yes,2001,NaN,2007.0,NaN,TO,TO,Tonga,Tonga
183,FSM,185,"Micronesia, Fed. Sts.",326.0,Federated States of Micronesia,Lower middle income,East Asia & Pacific,IBRD,NaN,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,FM,FM,"Micronesia, Fed. Sts.",Micronesia
184,STP,186,São Tomé and Principe,263.0,Democratic Republic of São Tomé and Principe,Lower middle income,Sub-Saharan Africa,IDA,HIPC,São Tomé and Principe dobra,...,PS 2000-01,NaN,NaN,NaN,2008.0,NaN,ST,ST,São Tomé and Principe,São Tomé and Principe
185,PLW,187,Palau,228.0,Republic of Palau,Upper middle income,East Asia & Pacific,IBRD,NaN,U.S. dollar,...,NaN,Yes,NaN,NaN,NaN,NaN,PW,PW,Palau,Palau
186,MHL,188,Marshall Islands,182.0,Republic of the Marshall Islands,Lower middle income,East Asia & Pacific,IBRD,NaN,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,MH,MH,Marshall Islands,Marshall Islands
187,KIR,189,Kiribati,175.0,Republic of Kiribati,Lower middle income,East Asia & Pacific,IDA,NaN,Australian dollar,...,NaN,NaN,NaN,NaN,2005.0,NaN,KI,KI,Kiribati,Kiribati
188,TUV,190,Tuvalu,40.0,Tuvalu,Lower middle income,East Asia & Pacific,NaN,NaN,Australian dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,TV,TV,Tuvalu,Tuvalu

In [213]:
gdp.loc[12]

CountryCode                                                                                        ESP
Rank                                                                                                13
CountryName                                                                                      Spain
GDP                                                                                        1.32296e+06
Long Name                                                                             Kingdom of Spain
Income Group                                                                         High income: OECD
Region                                                                           Europe & Central Asia
Lending category                                                                                   NaN
Other groups                                                                                 Euro area
Currency Unit                                                                                     Euro
Latest population census                                                                          2001
Latest household survey                                                                            NaN
Special Notes                                        A simple multiplier is used to convert the nat...
National accounts base year                                                                       2000
National accounts reference year                                                                   NaN
System of National Accounts                                                                       1993
SNA price valuation                                                                                VAB
Alternative conversion factor                                                                      NaN
PPP survey year                                                                                   2005
Balance of Payments Manual in use                                                                 BPM5
External debt Reporting status                                                                     NaN
System of trade                                                                                Special
Government Accounting concept                                                             Consolidated
IMF data dissemination standard                                                                   SDDS
Source of most recent Income and expenditure data                                            IHS, 2000
Vital registration complete                                                                        Yes
Latest agricultural census                                                                        1999
Latest industrial data                                                                            2004
Latest trade data                                                                                 2008
Latest water withdrawal data                                                                      2000
2-alpha code                                                                                        ES
WB-2 code                                                                                           ES
Table Name                                                                                       Spain
Short Name                                                                                       Spain
Name: 12, dtype: object

In [244]:

mask = (gdp['Income Group'] == 'High income: OECD') | (gdp['Income Group'] == 'High income: nonOECD')

gdp.loc[mask,:].groupby('Income Group')['GDP'].mean()

Income Group
High income: OECD       1.483917e+06
High income: nonOECD    1.043498e+05
Name: GDP, dtype: float64

In [246]:
# (d)

In [245]:
gdp.loc[mask,:].groupby(['Income Group', 'Region'])['GDP'].mean()

Income Group          Region
High income: OECD     East Asia & Pacific           2.197268e+06
                      Europe & Central Asia         7.567044e+05
                      Middle East & North Africa    2.582170e+05
                      North America                 9.033012e+06
High income: nonOECD  East Asia & Pacific           1.496240e+05
                      Europe & Central Asia         2.776660e+04
                      Latin America & Caribbean     2.795480e+04
                      Middle East & North Africa    2.142531e+05
                      North America                 5.474000e+03
                      Sub-Saharan Africa            1.769700e+04
Name: GDP, dtype: float64